@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@font-face {
    font-family: 'Plastic Explosive';
    src: url(public/plastic.TTF);
    font-style: normal;
    font-weight: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --orange:#FF4500;
    --flaminorange:#FFA500;
    --yellow:#FFD700;
    --blackbg:#0b0201;
    --orangebg:#c33600;
    --grey:#333333;
    --white:#fafafa;
    --greyinput:#d9d9d9;
}

input{
    background-color: var(--greyinput)
}

select{
    background-color: var(--greyinput);
    width: 146px;
    height:71px;
    font-family: 'Raleway';
    font-size:24px;
    font-weight: bolder;
}
body{
    height:100%;
    background: linear-gradient(180deg, var(--blackbg), var(--orangebg)) no-repeat;
}
/* CLASES */

.header{
    width:  100%;
    height: 92px;
    background-color: var(--grey);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /*position:fixed;*/
}

.nav-menu{
    color: var(--white);
    font-family: 'Raleway';
    display:inline;
}
.nav-menu #register{
    color: var(--orange);
}

a{
    color: var(--white);
    text-decoration: none;
}

.nav-menu #login{
   color: var(--yellow);
}

.intro-img{
    width:546px;
    height: 194px;
}

.title{
    font-family: 'Bebas Neue';
    color: var(--white);
    font-size:96px;
    text-shadow: -1px -1px 0 var(--orange), 1px -1px 0 var(--orange), -1px 1px 0 var(--orange), 1px 1px 0 var(--orange);;
    text-align: center;
}

.google-button{
    width:512px;
    height:72px;
    background-color: var(--white);
    border-radius: 5px;
    font-family:'Raleway';
    font-weight: bold;
    font-size:40px;
    display:block;
}

.login-text{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 40px;
    color: var(--white);
    text-shadow: -1px -1px 0 var(--grey), 1px -1px 0 var(--grey), -1px 1px 0 var(--grey), 1px 1px 0 var(--grey);
}

.login-text a{
    text-decoration: underline;
}

.footer{
    width:  100%;
    height: 150px;
    background-color: var(--grey);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    
}

.nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    list-style-type: none;
}

.nav-elements{
    padding:10px;
}

.nav-list a{
    font-size:15px;
    color: var(--white);
    font-family: 'Raleway';
    text-decoration: none;
}

.legales{
    font-family: 'Raleway';
    font-size:20px;
    font-weight:bolder;
    color:var(--white);
}
.footer-logo{
    font-family: 'Bebas Neue';
    position: relative;
    font-size: 64px;
}

.orange-letter{
color:var(--orange);

}

.yellow-letter{
color: var(--yellow);

}

.rights-reserved{
    font-size:15px;
    color: var(--white);
    font-family: 'Raleway';
}

.footer-icon{
    width:50px;
    height:37px;
    color: var(--white);
}

.gender-radio{
    height:30px;
    width:30px;
}

.footer-content{
    padding:10px;
}

.social-icons{
    padding:10px;
}

/* IDs */

#phoenix-fitness-typo{
    font-family: 'Bebas Neue';
    display: inline;
}

#phoenix{
    color:var(--orange);
}

#fitness{
    color: var(--yellow);
}

#logo{
    height: 80px;
    width: 80px;
}

#intro-text{
    font-family:'Bebas Neue';
    font-size: 30px;
    color: var(--white);
    max-width: 100ch;
    margin:0 auto;
}

#intro #landing-pics{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

#horarios .availability{
    font-family: 'Bebas Neue';
    font-size: 64px;
    color: var(--white);
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 0 2px 1px var(--grey);
}

#form{
    display:flex;
    justify-content: center;
    align-items: center;
}

#form label{
    color: var(--white);
    font-family: 'Raleway';
    font-weight:bolder;
    font-size: 40px;
    text-shadow: -1px -1px 0 var(--grey), 1px -1px 0 var(--grey), -1px 1px 0 var(--grey), 1px 1px 0 var(--grey);
    
}

#form input{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

#form #register-button{
    background-color: var(--orange);
}

#form .button{
    width: 305px;
    height:72px;
    border-radius: 5px;
    font-family:'Raleway';
    font-weight: bold;
    font-size:40px;
    display:block;
}
#form #login-button{
    background-color: var(--yellow);
}

#birthdate{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#gender{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#background-video{
  width:100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}   

#text-on-video{
    z-index:1;
    position:relative;
    width:100%;
    margin-top:-40%;
}

#logueo{
    margin-top:20%;
}